<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        // function check() {
        //     $.ajax({
        //         type: "POST",
        //         url: "/post",
        //         data: {url_give:'https://platum.kr/archives/127938',comment_give:'코멘트'},
        //         success: function(response){
        //          console.log(response)
        //      }
        //  })
        // }

        function check() {
            $.ajax({
                type: "GET",
                url: "/post",
                data: {},
                success: function(response){
                 console.log(response)
             }
         })
        }
        
    </script>
</head>

<body>
    <button onclick="check()">123!!</button>
</body>
</html>